apiVersion: v1
kind: ConfigMap
metadata:
  name: spa-api-gateway-config
  namespace: {{ .Values.namespace }}
data:
  application-k8s.yml: |
    server:
      port: {{ .Values.service.port }}

    spring:
      application:
        name: spa-api-gateway

      security:
        oauth2:
          resourceserver:
            jwt:
              jwk-set-uri: ${KEYCLOAK_JWKS_URI}

      cloud:
        gateway:
          default-filters:
            - PreserveHostHeader
          routes:
            - id: user-service
              uri: {{ .Values.config.routes.userUri }}
              predicates:
                - Path={{ .Values.config.routes.userPath }}

    management:
      endpoint:
        health:
          probes:
            enabled: true
      endpoints:
        web:
          exposure:
            include: health,info,metrics,prometheus
